application/dist
application/node_modules
chaincode/chaincode-typescript/dist
chaincode/chaincode-typescript/node_modules
basic-network/channel-artifacts/*.tx
basic-network/channel-artifacts/*.block
basic-network/ledgers
basic-network/ledgers-backup
basic-network/channel-artifacts/*.json
basic-network/org3-artifacts/crypto-config/*
basic-network/organizations/fabric-ca/ordererOrg/*
basic-network/organizations/fabric-ca/org1/*
basic-network/organizations/fabric-ca/org2/*
basic-network/organizations/ordererOrganizations/*
basic-network/organizations/peerOrganizations/*
basic-network/system-genesis-block/*
basic-network/*.tar.gz
basic-network/log.txt
