header {
  padding-top: 1rem;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif; 
}
.App {
  text-align: center;
  font-family: 'Lexend Deca', sans-serif; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-body {
  border-radius: 8px;
  z-index:-1; 
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: xx-large;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-textField {
  height: 1.5rem;
  font-size: x-large;
}

.Message-container {
  border-radius: 8px;
  background: rgb(246, 69, 10);
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
.Message-succss-container {
  border-radius: 8px;
  background: rgb(12, 178, 48);
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
.Message-text {
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  font-weight: 500;
  color: white;
}

.App-button {
  border-radius: 50px;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  border-color: white;
  border-style: solid;
}
.App-button:hover {background-color: #3e8e41}

.App-button:active {
  /* background-color: #3e8e41; */
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Approved-button {
  color: white;
  background-color: transparent; 
  /* background-color: #3e8e41;  */
  margin-top: 3%;
}
.Back-button:hover {
  background-color: #d74423; 
}
.Back-button {
  margin-left: 5rem;
  color: white;
  background-color: transparent; 
  /* background-color: #d74423;  */
  margin-top: 3%;
}
.Back-button:hover {
  background-color: #d74423; 
}
.Admin-button {
  color: white;
  background-color: transparent; 
  /* background-color: #29299e;  */
}
.Admin-button:hover {
  background-color: #29299e;
}

.User-button {
  color: white;
  background-color: transparent;
  margin-right: 5rem; 
  /* background-color: #29299e;  */
}
.User-button:hover {
  background-color: #29299e;
}

.QR-button {
  margin-left: 7%;
  color: white;
  background-color: transparent; 
  /* background-color: #4CAF50;  */
}
.QR-button:hover {
  background-color: #4CAF50; 
}

.QR-button {
  margin-left: 7%;
  color: white;
  background-color: transparent; 
  /* background-color: #4CAF50;  */
}
.QR-button:hover {
  background-color: #4CAF50; 
}

.App-footer {
  height: 10vh;
  /* background-color: #162c7e; */
  text-align: center;
  font-size: large;
  justify-content: center;
  padding-top: 3vh;
  font-weight: 500;
  /* color: white; */
}
.text-white {
  color: black
}
.App-modal { 
  background-color: rgb(22, 7, 117);
  z-index:1; 
  position: absolute;
  top: 4%;
  width: 80%;
  height: 92%;
  left: 10%;
  border-radius: 10px;
  border: none;
}
.Modal-label {
  display: grid;
  grid-template-columns: 30% 50%;
  grid-template-rows: auto;
  grid-template-areas: 
    "text input";
  align-items: center;
  justify-content: center;
}
.Modal-text {
  grid-area: text;
  font-size: large;
  color: white;
}

.Modal-textField {
  grid-area: input;
  margin: 1rem;
  font-size: large;
  padding-left: 2%;
}
.Modal-dateField {
  grid-area: input;
  margin: 1rem;
  font-size: large;
  padding-left: 2%;
}
.Modal-radio {
  grid-area: input;
  margin: 1rem;
  margin-top: 2rem;
  font-size: large;
  color: white;
}
.Certification-form {
  color: white;
  margin-bottom: 5%;
}

.App-border {
  margin-bottom: 5%;
}